<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="">
      <img src="/assets/images/logo/infludash-logo.png" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register">
            <button type="button" class="btn btn-primary">Register</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section id="intro">
  <div class="container">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="w-50">
        <h1>Welcome to infludash!</h1>
        <h2 class="mt-3 mb-4">
          A handy and modern marketing platform for influencers
        </h2>
        <section>
          <a href="#features" class="mr-1 btn btn-primary">
            <div class="icon-btn">
              <span class="material-icons"> preview </span> Check it out
            </div>
          </a>
          <a href="#pricing">
            <button type="button" class="btn btn-secondary">
              <div class="icon-btn">
                <span class="material-icons"> local_offer </span> View pricing
              </div>
            </button>
          </a>
        </section>
      </div>
      <img src="/assets/images/banner.png" alt="banner" />
    </div>
  </div>
</section>
<section id="features">
  <div class="container">
    <h2 class="mb-5">Why would you choose infludash?</h2>
    <div class="card-wrapper">
      <div class="card">
        <span class="card-icon material-icons"> alarm_on </span>
        <div class="card-body">
          <h5 class="card-title">You save time</h5>
          <p class="card-text">
            Spend more time inspiring your social network and less managing
            them.
          </p>
        </div>
      </div>
      <div class="card">
        <span class="card-icon material-icons"> smartphone </span>
        <div class="card-body">
          <h5 class="card-title">Focussed on influencers</h5>
          <p class="card-text">
            The functions are made trough the eye of an influencer to make the
            perfect experience.
          </p>
        </div>
      </div>
      <div class="card">
        <span class="card-icon material-icons"> event </span>
        <div class="card-body">
          <h5 class="card-title">Schedule posts</h5>
          <p class="card-text">
            Schedule posts so you can better manage your time according to your
            agenda.
          </p>
        </div>
      </div>
      <div class="card">
        <span class="card-icon material-icons"> smart_toy </span>
        <div class="card-body">
          <h5 class="card-title">AI enhanced</h5>
          <p class="card-text">
            Make better posts with the help of suggestions based on popular
            posts.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="pricing">
  <div class="container">
    <h2 class="mb-5">Choose the perfect plan for your</h2>
    <div class="card-wrapper">
      <div class="card">
        <h2 class="card-icon">€0<span>/month</span></h2>
        <div class="card-body">
          <h5 class="card-title">30 days trial</h5>
          <p class="card-text">
            Try the platform out and decide afterwards if you want to continue.
          </p>
        </div>
        <ul>
          <li class="ok">Up to 2 social media accounts</li>
          <li class="ok">Schedule up to 2 posts</li>
          <li class="not-ok">No AI support</li>
          <li class="not-ok">No analytics</li>
        </ul>
        <a href="#" class="btn btn-secondary">Get started</a>
      </div>
      <div class="card recommended">
        <h2 class="card-icon">€30<span>/month</span></h2>
        <div class="card-body">
          <h5 class="card-title">Influence plan</h5>
          <p class="card-text">
            A plan for the average influencer with a limited amount of money.
          </p>
        </div>
        <ul>
          <li class="ok">Up to 10 social media accounts</li>
          <li class="ok">Schedule up to 20 posts/month</li>
          <li class="ok">Make better posts with AI support</li>
          <li class="ok">View analytics based on your activity</li>
        </ul>
        <a href="#" class="btn btn-secondary">Get started</a>
      </div>
      <div class="card">
        <h2 class="card-icon">€--<span>/month</span></h2>
        <div class="card-body">
          <h5 class="card-title">Pro plan</h5>
          <p class="card-text">
            A plan customized for your needs. Starting at €50.
          </p>
        </div>
        <p id="coming-soon">coming soon</p>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <h2>Please send us your questions</h2>
  </div>
</section>
<footer class="dark">
  <section>
    <div class="container">
      <div class="d-flex flex-row justify-content-between">
        <div>
          <img
            src="/assets/images/logo/infludash-logo-negative.png"
            alt="logo-negative"
          />
        </div>
        <ul>
          <li><a href="#features">Features</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="login">Login</a></li>
          <li><a href="register">Register</a></li>
        </ul>
        <ul>
          <li><a href="cookies">Cookie policy</a></li>
          <li><a href="privacy-policy">Privacy policy</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <p class="mt-5 w-100 text-center">
        2021 | Created by <a href="#">Connectycho</a>
      </p>
    </div>
  </section>
</footer>
