// Load variables
@import "../../../variables.scss";

.auth-form {
  position: relative;
  width: 40%;
  max-width: 100%;
  min-width: 500px;
  padding: 4em 0;
  background-color: $white;
  color: $black;

  img {
    width: 200px;
  }

  form {
    width: 500px;
    max-width: 80%;

    &#register {
      margin-top: 8em;
    }
    &#login {
      margin-top: 12em;
    }
    .name-wrapper {
      .mat-form-field {
        width: 48%;
      }
    }
    input[type="submit"] {
      padding: 0.8em 0;
      margin-bottom: 1.5em;
    }
    a {
      line-height: normal;
    }
  }
  a {
    color: $secondaryColor;
    text-decoration: none;
    font-weight: bold;
  }

  p {
    position: absolute;
    width: 100%;
    bottom: 5em;
    left: 0;
    text-align: center;
    a {
      margin-left: 0.5em;
    }
  }
  .error-message {
    margin-left: 0.5rem;
    line-height: 1.8em;
    font-size: 0.9em;
  }
}

.auth-img {
  width: 60%;
  background: url(/assets/images/back.jpg) center center no-repeat;
  background-size: cover;
}

.alert {
  padding: 0.5rem 1rem;
}

.loader {
  margin-top: 10em;
}

.visibility-toggle {
  cursor: pointer;
}
