<div class="h-100 container d-flex flex-column justify-content-center align-items-center notify-wrapper">
  <a href="" class="unselectable"> <img src="assets/images/logo/infludash-logo.png" alt="logo"></a>
  <div class="card">
    <mat-icon class="unselectable f-15">error</mat-icon>
    <div class="card-body">
      <h5 class="card-title">
        404
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">Not found</h6>
      <p class="card-text">Infludash couldn't find the page you were looking for.</p>
    </div>
  </div>
</div>
