<div class="d-flex flex-wrap">
  <a href="/app/social-channels" class="card text-white bg-primary mb-3 dash-tile clickable" style="max-width: 18rem;">
    <div class="card-header">Social channels</div>
    <div class="card-body">
      <p class="card-text">Link a social channel, like facebook or YouTube, to your current account so you can start
        scheduling your posts.</p>
    </div>
  </a>
  <a href="/app/posts" class="card text-white bg-primary mb-3 dash-tile clickable" style="max-width: 18rem;">
    <div class="card-header">Posts</div>
    <div class="card-body">
      <p class="card-text">Select one or more social channels to create a post to. You can even choose to schedule your
        posts on days you don't have much time.</p>
    </div>
  </a>
  <a href="/app/calendar" class="card text-white bg-primary mb-3 dash-tile clickable" style="max-width: 18rem;">
    <div class="card-header">Calendar</div>
    <div class="card-body">
      <p class="card-text">Take a better look at your scheduled posts in a well designed calendar UI.</p>
    </div>
  </a>
  <a href="/app/analytics" class="card text-white bg-primary mb-3 dash-tile clickable" style="max-width: 18rem;">
    <div class="card-header">Analytics</div>
    <div class="card-body">
      <p class="card-text">Get a quick overview of your statistics and analytics for your linked social media channels.
      </p>
    </div>
  </a>
  <a href="/app/preferences" class="card text-white bg-primary mb-3 dash-tile clickable" style="max-width: 18rem;">
    <div class="card-header">Preferences</div>
    <div class="card-body">
      <p class="card-text">Configure your preferences for each channel and/or boilerplates for your posts to spend less
        time on writing your posts.</p>
    </div>
  </a>
</div>
