// Load variables
@import "../../../../variables.scss";

.social-widget {
  width: 300px;
  max-height: 300px;
}

.social-icon {
  .mat-icon {
    width: 100%;
    font-size: 4em;
  }

  img {
    margin: 1.8em;
    width: 6em;
  }
}

.channel-info {
  position: absolute;
  bottom: 0;
  padding: 0.5em 1.5em;
  background: $primaryColor;
  width: 100%;
  border-radius: 0 0 10px 10px;
  color: $white;
}

.channel-options {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
}

.loader {
  margin: 2em;
}
