<div class="d-flex w-100 flex-wrap">
  <div class="social-widget" id="add">
    <app-widget class="clickable" title="My channels" [showHeader]="false" (click)="openAddChannelDialog()">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="social-icon">
          <mat-icon>add</mat-icon>
        </div>
        <p class="mt-2">Link a new channel</p>
      </div>
    </app-widget>
  </div>
  <div *ngIf="channels; else loader" class="d-flex flex-wrap">
    <div class="social-widget" *ngFor="let channel of channels">
      <app-widget [showHeader]=false>
        <div class="d-flex flex-column align-items-center justify-content-center">
          <div class="social-icon">
            <img *ngIf="mode.getMode() === 'dark'; else socialImage"
              [src]="'/assets/images/socials/'+ SocialType[channel.type] + '-logo-negative.png'"
              [alt]="SocialType[channel.type] + ' logo (negative)'" />

            <ng-template #socialImage>
              <img [src]="'/assets/images/socials/'+ SocialType[channel.type] + '-logo.png'"
                [alt]="SocialType[channel.type] + ' logo'">
            </ng-template>
          </div>
          <section class="channel-info">
            {{channel.name}}
          </section>
          <button class="channel-options" mat-icon-button aria-label="Options for the channel"
            (click)="openDeleteChannelDialog(channel)">
            <mat-icon>link_off</mat-icon>
          </button>
        </div>
      </app-widget>
    </div>
  </div>
  <ng-template #loader>
    <div class="loader">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
