<div class="d-flex flex-row h-100vh">
  <div class="auth-form">
    <div class="h-flex">
      <a href="">
        <img src="/assets/images/logo/infludash-logo.png" alt="logo" />
      </a>
    </div>
    <div class="h-flex">
      <form class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between name-wrapper">
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input type="text" matInput required />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input type="text" matInput required />
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput required />
        </mat-form-field>
        <button class="btn btn-primary">Register</button>
      </form>
    </div>
    <p>Already a member?<a href="login">Login now</a></p>
  </div>
  <div class="auth-img"></div>
</div>
