<div class="d-flex flex-row h-100vh">
  <div class="auth-form">
    <div class="h-flex">
      <a href="">
        <img src="/assets/images/logo/infludash-logo.png" alt="logo" />
      </a>
    </div>
    <div class="h-flex">
      <form class="d-flex flex-column">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput required />
        </mat-form-field>
        <button class="btn btn-primary">Login</button>
        <div class="d-flex flex-row justify-content-between">
          <mat-checkbox>Remember me</mat-checkbox>
          <a href="#">Forgot password?</a>
        </div>
      </form>
    </div>
    <p>Not a member yet?<a href="register">Register now</a></p>
  </div>
  <div class="auth-img"></div>
</div>
