$primaryColor: #8950fc;
$primaryColorHover: #7337ee;
$secondaryColor: #ff331f;
$secondaryColorHover: #d62f20;
$black: #181c32;
$darkGray: #22263a;
$white: #fff;
$lightGray: #f3f6f9;
$gray: #b5b5c3;
$green: #1acb44;
$red: #cb1a1a;

:root {
  --influ-background: #fff;
  --influ-background-variant: #f3f6f9;
  --influ-text: #181c32;

  .dark {
    // Dark colors
    --influ-background: #181c32;
    --influ-background-variant: #22263a;
    --influ-text: #fff;
  }
}
