<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <a class="logo logo d-flex align-items-center" routerLink="/app/dashboard">
        <img *ngIf="mode=='light'" src="/assets/images/logo/infludash-logo.png" alt="logo" />
        <img *ngIf="mode=='dark'" src="/assets/images/logo/infludash-logo-negative.png" alt="logo" />
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let item of menuItems">
        <a mat-list-item [routerLink]="'/app/'+item.name" routerLinkActive="active-link">
          <div class="nav-item">
            <span class="nav-item-text">{{item.name | titlecase}}</span>
            <mat-icon>{{item.icon}}</mat-icon>
          </div>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="d-flex flex-column">
    <mat-toolbar color="primary">
      <div class="d-flex align-items-center">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="title">{{page | titlecase}}</span>
      </div>
      <div class="d-flex align-items-center">
        <div class="d-flex mr-2">
          <mat-icon class="mode-toggle" [class]="mode==='dark'?'rotated':''" (click)="toggleMode($event)">brightness_4
          </mat-icon>
        </div>
        <section class="user-link" [matMenuTriggerFor]="userMenu">
          <span>username</span>
          <mat-icon>expand_more</mat-icon>
        </section>
        <mat-menu #userMenu="matMenu">
          <a mat-menu-item routerLink='/app/profile'>
            <mat-icon>person</mat-icon>
            <span>Your profile</span>
          </a>
          <a mat-menu-item routerLink='/logout'>
            <mat-icon>logout</mat-icon>
            <span>Sign out</span>
          </a>
        </mat-menu>
      </div>
    </mat-toolbar>
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
